body{
    background: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
a{
    text-decoration: none;
}

.wrapper{
    width: 85%;
    margin: 0 auto;

}

/*
   Header
*/
header{
    padding: 40px 0;
    position: absolute;
    width: 100%;
}
.header-column{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
}

.header-column:first-child,
.header-column:last-child{
    width: 20%;



}

.header-logotype{
    background: linear-gradient(#d30727,#9e0019);
    box-shadow: 0 0 20px 0 #ff0000;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    position: relative;
}
.header-logotype img{
    width: 59px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-button{
    background-color: #d30727;
    font: 19px  "Oswald";
    font-weight: 500px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 35px;
    text-transform: uppercase;
    color: #ffffff;

}

/*
   Menu
*/
nav{
    text-align: center;
}

.menu-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-list li{ 
    display:inline-block;
    width: 130px
}

.menu-list li a{
    font: 20px "Oswald";
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;

}


/*
   Intro
*/

.intro{
    background: url("/images/background.jfif")no-repeat center ;
    background-size: relative;
    position: relative;
    width: 100%;
    height: 100vh;
}
.intro-content{
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 35%;
}
.intro-title{
    font: 132px/130px "Oswald";
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}
.intro-title span{
    display: block;
    font-weight: 200;
}
.intro-description{
    font: 16/35px "Roboto";
    opacity: 0.8;
    margin: 40px 0;
}

.intro-link{
    font: 27px "Oswald";
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;

}

